<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <p> PAGE POTIN </p>

      <p>Voici le page du potin n°<%= id %></p>
      <p>Son auteur : <%= gossip.author %><br/></p>
      <p>Le contenu du potin : <%= gossip.content %></p>

      <p><a href="/gossips/<%= id %>/edit/">Editer le potin</a></p>
      
      <p><a href ="/"> Retour à l'index</a></p>
     
  </body>